# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.spec

# Virtual Environment
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Data files (пользовательские данные)
expenses.json

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec
